html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* src/index.css or src/App.css */
@font-face {
  font-family: 'monotype';
  src: 
       url('/fonts/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "w95fa";
  src: url("/fonts/w95fa/W95FA.ott") format("opentype"),
       url("/fonts/w95fa/w95fa.woff") format("woff"),
       url("/fonts/w95fa/w95fa.woff2") format("woff2");
}
